@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Space Grotesk', 'monospace';
	font-weight: 400;
	text-decoration: none;
}

/* Variables */

:root {
	--secundario: #edf4f5;
	--primario: #232120;
	--miPaddingL: 0 12vw;
	--miPaddingSection: 120px 12vw;
	--miMarginDiv: 60px;
	--miMarginFooter: 240px 12vw 60px;
}

/* Animaciones */

@keyframes rotate-in-center {
	0% {
		transform: rotate(-360deg);
		opacity: 0;
	}

	100% {
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes line {
	0% {
		transform-origin: left;
		transform: scaleX(0);
	}

	25% {
		transform-origin: left;
		transform: scaleX(1);
	}

	50% {
		transform-origin: right;
		transform: scaleX(1);
	}

	75% {
		transform-origin: right;
		transform: scaleX(0);
	}

	100% {
		transform-origin: left;
		transform: scaleX(0);
	}
}

@keyframes blink-1 {

	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

@keyframes puff-in-center {
	0% {
		transform: scale(2);
		filter: blur(4px);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* General */

html {
	scroll-behavior: smooth;
}

body {
	/* para que el header no tape el main */
	padding-top: 60px;
	background-color: var(--primario);
}

.bold {
	font-weight: 700;
}

h1 {
	font-size: 6em;
}

h2 {
	font-size: 2em;
	font-weight: 700;
	color: var(--primario);
}

h3 {
	font-size: 1em;
	font-weight: 400;
	color: var(--primario);
}

p {
	font-size: 1em;
	line-height: 1.8;
	font-weight: 400;
}

/* Carga */


#loader {
	position: fixed;
	z-index: 15;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--primario);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity 500ms ease;
}

#loader img {
	width: 30vh;
	animation: rotate-in-center 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Botón subir */

.btn-up {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primario);
	color: var(--secundario);
	font-size: 20px;
	position: fixed;
	border: none;
	/* lo escondo para después hacerlo aparecer con js */
	right: -200px;
	bottom: 20px;
	transition: all 500ms;
	cursor: pointer;
}

.btn-up:hover {
	transform: scale(1.1);
}

.btn-down {
	display: none;
}

/* Líneas divisorias */

.line-container {
	padding: var(--miPaddingL);
	background-color: var(--secundario);
}

.line {
	width: 100%;
	height: 2px;
	background-color: var(--primario);
	animation: line 3s infinite;
}

/* Header */

header {
	width: 100%;
	height: 60px;
	background-color: var(--primario);
	display: flex;
	align-items: center;
	padding: var(--miPaddingL);
	position: fixed;
	top: 0;
	z-index: 5;
}

nav {
	display: flex;
	align-items: center;
	gap: 30px;
}

nav img {
	display: none;
}

li {
	list-style: none;
}

.nav-menu a {
	font-size: 0.8em;
	color: var(--secundario);
	position: relative;
}

.nav-menu a::after {
	content: "";
	position: absolute;
	right: 0;
	top: calc(100% + 1px);
	left: 0;
	height: 1px;
	width: 100%;
	background-color: var(--secundario);
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 500ms ease-in-out;
}

.nav-menu a.selected::after,
.nav-menu a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

.nav-menu {
	position: fixed;
	display: flex;
	align-items: center;
	gap: 70px;
}

.hamburger {
	display: none;
	cursor: pointer;
	justify-content: flex-end;
}

.bar {
	display: block;
	width: 30px;
	height: 1px;
	margin: 7px auto;
	transition: all 300ms ease-in-out;
	background-color: var(--secundario);
}

.bar:nth-child(1) {
	margin-top: 0;
}

.bar:nth-child(3) {
	margin-bottom: 0;
}

/* Footer */

footer {
	width: 100%;
	display: flex;
	/* gap: 150px; */
	justify-content: space-between;
	padding: var(--miMarginFooter);
	background-color: var(--secundario);
	font-size: 0.8em;
}

.footer-title {
	margin-bottom: 20px;
	font-weight: 700;
}

.footer-data {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer-redes {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	align-items: flex-end;
}

.footer-redes a {
	font-size: 25px;
	color: var(--primario);
}

/* Home */

#home {
	width: 100%;
	height: calc(100vh - 60px);
	padding: var(--miPaddingL);
	color: var(--secundario);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--miMarginDiv);
}

#home .line {
	background-color: var(--secundario);
}

#home p {
	color: var(--secundario);
	letter-spacing: 2px;
}

/* Sobre mí */

#about {
	width: 100%;
	padding: var(--miPaddingSection);
	background-color: var(--secundario);
	color: var(--primario);
}

#about .about-data {
	width: 60%;
}

#about .about-data h2 {
	margin-bottom: var(--miMarginDiv);
}

/* Formación & Experiencia*/

#formacion,
#experiencia {
	background-color: var(--secundario);
	padding: var(--miPaddingSection);
	color: var(--primario);
}

#formacion h2 {
	margin-bottom: calc(var(--miMarginDiv) + 10px);
}

#experiencia h2 {
	margin-bottom: calc(var(--miMarginDiv) + 10px);
}

/* Formación > línea */

.timeline-items {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

/* Línea del medio */

.timeline-items::before {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: var(--primario);
	left: calc(50% - 1px);
}

/* Ítems */

.timeline-item {
	margin-bottom: var(--miMarginDiv);
	width: 100%;
	position: relative;
}

/* Quito margin al último ítem */

.timeline-item:last-child {
	margin-bottom: 0;
}

/* Parte izquierda */

.timeline-item:nth-child(odd) {
	padding-right: calc(50% + var(--miMarginDiv));
}

/* Parte derecha */

.timeline-item:nth-child(even) {
	padding-left: calc(50% + var(--miMarginDiv));
}

/* Puntos de la línea */

.timeline-dot {
	height: 20px;
	width: 20px;
	background-color: var(--secundario);
	border: solid 4px var(--primario);
	position: absolute;
	left: calc(50% - 10px);
	border-radius: 50%;
	top: 0px;
}

/* Fechas */

.timeline-date {
	font-size: 0.6em;
	letter-spacing: 2px;
	color: var(--primario);
	padding: 0px 30px 15px 30px;
}

/* Datos a llenar */

.timeline-content {
	background-color: var(--primario);
	padding: 30px;
}

.timeline-content p {
	color: var(--secundario);
}

/* Trabajos */

#work {
	background-color: var(--secundario);
	width: 100%;
	padding: var(--miPaddingSection);
}

.work-container {
	width: 100%;
	margin-top: var(--miMarginDiv);
	display: grid;
	gap: 50px 50px;
	grid-template: repeat(3, 300px) / repeat(6, 1fr);
}

.work-container a {
	height: 300px;
	display: flex;
	align-items: flex-end;
	font-size: 2em;
	color: var(--secundario);
	background-color: var(--primario);
	padding: 0 30px 30px;
}

.work-container a:hover {
	background-color: var(--secundario);
	color: var(--primario);
	transition: all 500ms;
	animation: blink-1 600ms both;
}

.caja-br{
	grid-column: 1 / 7;
	grid-row: 1;
}

.caja-ed{
	grid-column: 1 / 5;
	grid-row: 2;
}

.caja-lt{
	grid-column: 1 / 3;
	grid-row: 3;
}

.caja-ux{
	grid-column: 3 / 7;
	grid-row: 3;
}

.caja-aq{
	grid-column: 5 / 7;
	grid-row: 2;
}

/* Contacto */

#contacto {
	background-color: var(--secundario);
	width: 100%;
	padding: var(--miPaddingSection);
	color: var(--primario);
}

.form-container {
	margin-top: var(--miMarginDiv);
	width: 100%;
	display: flex;
	gap: 120px;
}

.form {
	width: 60%;
}

#contacto form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#contacto form label {
	font-size: 1em;
	font-weight: 700;
}

#contacto form input {
	padding: 10px;
	background-color: var(--secundario);
	border: 1px solid var(--primario);
}

#contacto form textarea {
	resize: none;
	padding: 10px;
	background-color: var(--secundario);
	border: 1px solid var(--primario)
}

#contacto form .send {
	width: 100%;
	height: 60px;
	padding: 0 60px;
	margin-top: 20px;
	background-color: var(--primario);
	color: var(--secundario);
	font-weight: 700;
	font-size: 1em;
	cursor: pointer;
}

#contacto form .send:hover {
	animation: blink-1 600ms both;
}

.contacto-other {
	width: 40%;
}

.contacto-other ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 30px;
}

.contacto-other ul li a {
	color: var(--primario);
	font-size: 25px;
}

/* Hover redes sociales */

.fa-behance:hover {
	color: #1769ff;
	transition: all 500ms;
}

.fa-envelope:hover {
	color: #034fa0;
	transition: all 500ms;
}

.fa-instagram:hover {
	color: #c13584;
	transition: all 500ms;
}

.fa-linkedin-in:hover {
	color: #0077b5;
	transition: all 500ms;
}

.fa-facebook:hover {
	color: #4267b2;
	transition: all 500ms;
}

.fa-x-twitter:hover {
	color: #1da1f2;
	transition: all 500ms;
}

.fa-telegram:hover {
	color: #2aabee;
	transition: all 500ms;
}

.fa-whatsapp:hover {
	color: #128c7e;
	transition: all 500ms;
}

.fa-youtube:hover {
	color: #ff0000;
	transition: all 500ms;
}

/* Páginas */

/* Presentación de diseños */

#present-design {
	width: 100%;
	background-color: var(--primario);
	color: var(--secundario);
	height: calc(100vh - 60px);
	padding: var(--miPaddingL);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--miMarginDiv);
}

#present-design .line {
	background-color: var(--secundario);
}

#present-design h2,
#present-design p,
#present-design a {
	color: var(--secundario);
}

#present-design p {
	width: 40%;
}

/* Galería */

#gallery {
	padding: var(--miPaddingSection);
	display: flex;
	flex-direction: column;
	background-color: var(--secundario);
	gap: var(--miMarginDiv);
}

#gallery h3 {
	font-size: 1em;
}

#gallery .line {
	margin: 60px 0;
}

.gallery-section {
	display: flex;
	flex-direction: column;
	gap: var(--miMarginDiv);
}

.gallery-container {
	width: 100%;
	display: grid;
	grid-template: repeat(1, 250px) / repeat(3, 1fr);
	gap: 50px 50px;
}

.gallery-item {
	height: 250px;
	cursor: pointer;
	transition: ease-in-out 300ms;
}

.gallery-item:hover {
	transform: scale(1.1);
}

.gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#gallery .ficha {
	display: grid;
	grid-template: repeat(1, 1fr) / repeat(6, 1fr);
	column-gap: 50px;
	font-size: 0.7em;
}

#gallery .ficha a {
	color: var(--primario);
}

/* Galería > imágen abierta */

/* Galería > imágen abierta > fondo */

.lightbox {
	position: fixed;
	display: none;
	background-color: rgba(0, 0, 0, 0.95);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* para que quede por encima del header */
	z-index: 10;
}

/* Galería > imágen abierta > container de imágen */

.lightbox-content {
	width: 70%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.lightbox-content img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* Galería > flechas + exit */

.lightbox-exit {
	font-size: 2em;
	top: 10vh;
	right: 10px;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	display: flex !important;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-size: 1em;
	color: var(--secundario);
	background-color: var(--primario);
	cursor: pointer;
	opacity: 0.75;
}

.lightbox-prev,
.lightbox-next {
	width: 2em;
	height: 2em;
	border-radius: 50%;
	display: flex !important;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-size: 1em;
	color: var(--secundario);
	background-color: var(--primario);
	cursor: pointer;
	opacity: 0.75;
}

.lightbox-prev {
	left: 10px;
}

.lightbox-next {
	right: 10px;
}

/* Responsive */

@media (max-width: 1200px) {

	/* HEADER */

	.hamburger {
		display: block;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-menu {
		left: -100%;
		top: 60px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 30px;
		background-color: var(--primario);
		width: 100%;
		transition: 600ms;
		height: 100vh;
		padding: var(--miPaddingL);
		padding-top: 20px;
	}

	.nav-menu.active {
		left: 0;
	}

	nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	nav img {
		display: flex;
		height: 24px;
	}

	/* Home */

	p {
		font-size: 0.8em;
	}

	/* Trabajos */

	.work-container {
		grid-template: repeat(3, 300px) / repeat(6, 1fr);
	}
	
	.caja-ed{
		grid-column: 1 / 4;
		grid-row: 2;
	}
	
	.caja-lt{
		grid-column: 1 / 4;
		grid-row: 3;
	}
	
	.caja-ux{
		grid-column: 4 / 7;
		grid-row: 3;
	}
	
	.caja-aq{
		grid-column: 4 / 7;
		grid-row: 2;
	}	

	/* Galería */

	#gallery h3 {
		font-size: 0.8em;
	}

	/* Contacto */

	.form-container {
		gap: 60px;
	}
}

@media (max-width: 900px) {

	/* Variables */

	:root {
		--miPaddingL: 0 10vw;
		--miPaddingSection: 100px 10vh;
		--miMarginDiv: 40px;
	}

	/* CARGA */

	#loader img {
		width: 15vh;
	}

	/* Footer */

	footer {
		flex-direction: column;
		gap: 70px;
		padding: 100px 80px 40px;
	}

	.footer_title {
		margin-bottom: 0;
	}

	.footer-data {
		text-align: center;
	}

	.footer-redes {
		justify-content: center;
		gap: 15px;
	}

	.footer-redes a {
		font-size: 20px;
	}

	/* HOME */

	h2 {
		font-size: 2em;
	}

	p {
		font-size: 0.8em;
	}

	.btn-down {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		background-color: var(--primario);
		padding: var(--miPaddingL);
		font-size: 1.5em;
		color: var(--secundario);
		cursor: pointer;
	}

	.btn-down:hover {
		transition: all 500ms;
		transform: scale(1.1);
	}

	/* Contacto */

	.form-container {
		width: 100%;
		flex-direction: column;
		gap: var(--miMarginDiv);
	}

	.form {
		width: 100%;
	}

	#contacto form {
		width: 100%;
		flex-direction: column;
	}

	#contacto form input {
		padding: 10px;
	}

	#contacto form textarea {
		padding: 10px;
	}

	.contacto-other {
		width: 100%;
		text-align: center;
	}

	.contacto-other ul {
		flex-direction: row;
		justify-content: center;
		gap: 15px;
	}	

	.contacto-other ul li a {
		font-size: 20px;
	}

	/* Páginas */

	/* Galería */

	.gallery-container {
		grid-template: repeat(1, 250px) / repeat(2, 1fr);
	}

	.gallery-item:hover {
		transform: none;
	}

	#gallery .ficha {
		display: grid;
		grid-template: repeat(1, 1fr) / repeat(3, 1fr);
		gap: 25px;
	}

	.lightbox-content {
		height: 55vh;
	}

	.lightbox-exit {
		top: -90px;
	}

	/* Galería > imágen abierta > container de imágen */

	.lightbox-content {
		width: 90%;
		padding: 10px 0;
	}

	.lightbox-content img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

@media (max-width: 600px) {

	/* Variables */

	:root {
		--miPaddingL: 0 12vw;
		--miPaddingSection: 100px 12vw;
		--miMarginDiv: 40px;
	}

	footer {
		padding: 70px 50px 40px;
	}

	/* Botón subir */

	.btn-up {
		border: 1px solid var(--secundario);
	}

	/* Home */

	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 1.5em;
	}

	p {
		font-size: 0.8em;
	}

	/* Sobre mí */

	#about .about-data {
		width: 100%;
	}

	/* Formación & Experiencia > línea */

	/* Línea del medio */

	.timeline-items::before {
		left: 9px;
	}

	/* Cambio la distribución */

	.timeline-item:nth-child(odd) {
		padding-right: 0;
	}

	/* Espacio entre línea e ítems */

	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even) {
		padding-left: var(--miMarginDiv);
	}

	/* Puntos de la línea */

	.timeline-dot {
		left: 0;
	}

	/* Fechas */

	.timeline-date {
		padding: 0px 20px 10px 20px;
	}

	/* Datos a llenar */

	.timeline-content {
		background-color: var(--primario);
		padding: 20px;
	}

	/* Trabajos */

	.work-container {
		grid-template: repeat(5, 300px) / repeat(1, 1fr)
	}

	.caja-br{
		grid-column: 1;
		grid-row: 1;
	}
	
	.caja-ed{
		grid-column: 1;
		grid-row: 2;
	}
	
	.caja-lt{
		grid-column: 1;
		grid-row: 4;
	}
	
	.caja-ux{
		grid-column: 1;
		grid-row: 5;
	}
	
	.caja-aq{
		grid-column: 1;
		grid-row: 3;
	}
	

	.work-container a {
		font-size: 1.5em;
	}

	/* Páginas */

	/* Presentación de diseños */

	#present-design p {
		width: 100%;
	}

	/* Galería */

	#gallery h3 {
		font-size: 0.7em;
	}

	.gallery-container {
		grid-template: repeat(1, 250px) / repeat(1, 1fr);
	}

	#gallery .ficha {
		display: grid;
		grid-template: repeat(1, 1fr) / repeat(2, 1fr);
		gap: 10px;
	}
}